.Navigation {
  padding-bottom: 100px;
}

.comedianNav {
  border-bottom: solid 1px gray;
}

.eventformheader {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 20px;
  font-weight: bold;
}

.thumbnail img {
  height: 200px;
  width: 100%;
}

.comedianheader {
  border-bottom: solid 1px lightgray;
}

.bio {
  margin-bottom: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
  border-bottom: solid 1px lightgray;
}

.date label {
  padding-right: 5px;
}

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

.sidebar {
  padding-top: 10% !important;
}

.bg {
  background: url('https://static.pexels.com/photos/26418/pexels-photo-26418.jpg');
  background-repeat: no-repeat;
  background-position: 20% 52%; 
  position: absolute;
  width: 100%;
  height: 350px;
  top:0;
  left:0;
  z-index: -1;
}

.jumbotron {
  margin-bottom: 0px;
  height: 350px;
  color: white;
  background:transparent;
}